<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razzberry</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
   <frameset border="0" rows="25%,*">
    <frame src="/us">
    <frameset cols="17%,*">
    <frame src="/me">
    <frame src="/feedbacktable">
    </frameset>
    </frameset>    
    <body onload="loading()">
      <div id="loading"></div>
    <script>
      var preloader = document.getElementById('loading'); 
      function loading() {
        preloader.style.display ='none';
      }
    </script>

</body>
</html>