<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Razzberry</title>   
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> 
    <link rel="stylesheet" href="main.css" type="text/css">
    
    <!-- <script  type="text/javascript" src="main.js"></script> -->

  </head>
  <link rel="stylesheet" href="style.css"> 
  <body onload="loading()"style="background-color: coral;">
    <div id="loading"></div>
<div class="container centertopage">
    <h2>About Us</h2>

    <div class="container">
     <div class="card " style="border: thin solid black">
         <img src="https://scontent.fdel43-1.fna.fbcdn.net/v/t1.6435-9/152365603_1827803670729962_8980169259439404147_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=Ttw4QWwRARcAX_yWi5n&_nc_ht=scontent.fdel43-1.fna&oh=8e4d59f8426c071a197aed1c7b1417cf&oe=61B055EE" class="" style="height: 200px;">
         <div class="card-body">
             <h4 class="card-title">Harsh Jain</h4>
             <p class="card-text">Devoloper</p>
             <a target="_blank" href="https://www.instagram.com/m_harsh_hj/" class="btn btn-primary">Follow</a>
         </div></div></div><br><br><br><br></div></div>
         <script>
          var preloader = document.getElementById('loading'); 
          function loading() {
            preloader.style.display ='none';
          }
        </script>
        </body>

