<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razzberry</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
   
<body>
  <% include ./partials/header.ejs %>
  <div class="img3"></div>
  <div class="center">
    <div class="title">Razzberry</div>
    <div class="sub_title"><h4>A Full Stack Website For Student To Address Issue Of Lost Items Within Campus</h4></div>
    <div class="btns">
      <a href="/Login">Login</a>
      <a href="/map">Explore</a>
    </div>
  </div>
          
<% include ./partials/footer.ejs %>
</body>
</html>
