<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razzberry</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
   <body onload="loading()">
    <div id="loading"></div>
  <% include ./partials/header.ejs %>
  <div class="img1"></div>
  <div class="center">
      <div class="btns1">
    <div class="title" style="font-family:Lucida Handwriting">Request Submitted</div>
    <div class="sub_title"><h5>College Will Contact You Soon!! <br>Note:You Have to Update your Phone Number In Accounts Settings<br> Thanks For Visiting Razzberry! Have A Good Day </h5></div>
    <div class="btns">
      <a href="/">Home</a>
      <a href="/contactus">Contact Us</a>
    </div></div>
  </div>
  <div class="bg-warning">       
    <% include ./partials/footer.ejs %></div>  
    <script>
      var preloader = document.getElementById('loading'); 
      function loading() {
        preloader.style.display ='none';
      }
    </script>
    </body>
</html>
